{% extends 'PtuitBundle::plantilla.html.twig' %}
{% block alertas %}
<div id="alert">       
           {{ form_errors(form.texto,{ 'attr': {'class': 'error','id':'errorMensaje'} }) }}       
    </div>
{% endblock %}
{% block Ptuits %}

    <div id="cajaMensaje">
        <form id="formMens" action="{{ path('ptuit_create') }}" method="post">
        {{ form_errors(form.texto,{ 'attr': {'class': 'error','id':'errorMensaje'} }) }}
                <fieldset class="mensaje">
                    <legend>Escribe tu ptuit</legend>


                {{ form_widget(form.texto,{ 'attr': {'class': 'txtMen', 'cols':'52', 'rows':'2' } }) }}       
                    <div class="contador" ></div>
                    <input id="botonTxt" title="enviar" name="ptuit" value="ptuit.." type="submit"/>

                </fieldset>
            {{ form_rest(form) }}
            </form>
        </div>   

        <h1>Cronologia</h1>
        <div id="caja_men" >
            <ul class="statuses">

    {% for mensaje in mensajes %}
                <li>
                    <div class="avatar"><a href="#"><img  src="{{ asset('bundles/ptuit/imagenes/ptuit.png') }}"alt="avatar" /></a></div>
                    <div class="tweetTxt">
                        <strong><a href="#">@{{ mensaje.usuario.nick}}</a>:</strong>                        
                        <p>{{ mensaje.texto }}</p>
                        <div class="date">{{ mensaje.creado|date('d-m-Y') }}
                            <span class="ExtMens">{% if usuario in mensaje.usuarioDeFavoritos %}
                                <a class="favorito" href="{{ path('ptuit_borra_favorito', { 'id': mensaje.id }) }}">
                                    <img src="{{ asset('bundles/ptuit/imagenes/favorito2.jpeg') }}"/> Eliminar favorito</a>            
                                    {% else %}
                                <a class="favorito" href="{{ path('ptuit_favorito', { 'id': mensaje.id }) }}">
                                    <img src="{{ asset('bundles/ptuit/imagenes/favorito.jpeg') }}"/> Favorito</a>
                                    {% endif %}
                                    {% if usuario == mensaje.usuario %}
                                <a class="borrarMens" href="{{ path('ptuit_favorito', { 'id': mensaje.id }) }}">
                                    <img src="{{ asset('bundles/ptuit/imagenes/papelera.jpeg') }}"></img> Borrar</a>
                                    {% else %}
                                 <a class="reptuit" href="{{ path('ptuit_replicar', { 'id': mensaje.id }) }}">
                                     <img src="{{ asset('bundles/ptuit/imagenes/reptuit.jpeg') }}"></img> Reptuit</a>    
                                    {% endif %}
                                <a href="#"><img src="{{ asset('bundles/ptuit/imagenes/responder.jpeg') }}"></img> Responder</a>
                            </span>
                            <div class="flotarDer"> <a class="verMens" href="{{ path('ptuit_show', { 'id': mensaje.id }) }}">ver</a></div> 
                        </div>                        
                    </div>

                    <div class="clear"></div>
                </li>
    {% else %}
                <li><a href="#"><img class="avatar" src="{{ asset('bundles/ptuit/imagenes/ptuit.png') }}"  alt="avatar" /></a>
                    Escribe tu Ptuit y se mostrara aqui, los tuyos y los de tus amigos.
                </li>
    {% endfor %}

            </ul>        
        </div>

{% endblock %}
{% block bloquesLaterales %}  
        <div class="bloque">
            <div class="bloque-body">
                <div class="bloqueCabecera">
                    <div class="l"></div>
                    <div class="r"></div>
                    <h3 class="t">Perfil Usuario</h3>
                </div>
                <div class="bloqueContenido">
                    <div class="bloqueContenido-tl"></div>
                    <div class="bloqueContenido-tr"></div>
                    <div class="bloqueContenido-bl"></div>
                    <div class="bloqueContenido-br"></div>
                    <div class="bloqueContenido-tc"></div>
                    <div class="bloqueContenido-bc"></div>
                    <div class="bloqueContenido-cl"></div>
                    <div class="bloqueContenido-cr"></div>
                    <div class="bloqueContenido-cc"></div>
                    <div class="bloqueContenido-body">
                        <p>{{usuario.nick}}</p>
                        <p>{{usuario.email}}</p>
                        <h3>Seguidores: {{ usuario.Seguidores |length}}</h3>
                        {% for seguidor in usuario.Seguidores %}
                        <p>{{seguidor.nick}}</p>
                        {% endfor %}
                        <h3>Seguidos: {{ usuario.Seguidos |length}}</h3>
                        {% for seguido in usuario.Seguidos %}
                        <p>{{seguido.nick}}</p>
                        {% endfor %}
                        <div class="cleared"></div>
                    </div>
                </div>
                <div class="cleared"></div>
            </div>
        </div>
 {% endblock %}