<h1>Mensaje list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombreusuario</th>
            <th>Creado</th>
            <th>Modificado</th>
            <th>Texto</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('ptuit_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombreusuario }}</td>
            <td>{{ entity.creado|date('Y-m-d H:i:s') }}</td>
            <td>{{ entity.modificado|date('Y-m-d H:i:s') }}</td>
            <td>{{ entity.texto }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('ptuit_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('ptuit_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('ptuit_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
