<h1>Mis Ptuits</h1>
<div id="caja_men" >
    <ul class="statuses">

    {% for mensaje in mensajes %}
        <li>
            <div class="avatar"><a href="#"><img  src="{{ asset(mensaje.usuario.avatar.filename) }}"alt="avatar" /></a></div>
            <div class="tweetTxt">
                        {% if mensaje.padre %}
                    <strong class="respuesta"><a href="#">Respuesta a @{{ mensaje.padre.usuario.nick}}</a>:</strong> 
                    <div class="clear"></div>
                        {% endif %}
                    <strong><a href="#">@{{ mensaje.usuario.nick}}</a>:</strong>                        
                    <p>{{ mensaje.texto }}</p>
                    <div class="date">{{ mensaje.creado|date('d-m-Y') }}
                        <span class="ExtMens">{% if mensaje in favoritos %}
                            <a class="favorito" href="{{ path('ptuit_borra_favorito', { 'id': mensaje.id }) }}">
                                <img src="{{ asset('bundles/ptuit/imagenes/favorito2.jpeg') }}"/> Eliminar favorito</a>            
                                    {% else %}
                            <a class="favorito" href="{{ path('ptuit_favorito', { 'id': mensaje.id }) }}">
                                <img src="{{ asset('bundles/ptuit/imagenes/favorito.jpeg') }}"/> Favorito</a>
                                    {% endif %}
                                    {% if usuario == mensaje.usuario %}
                            <a class="borrarMens" href="{{ path('ptuit_borra_mensaje', { 'id': mensaje.id }) }}">
                                <img src="{{ asset('bundles/ptuit/imagenes/papelera.jpeg') }}"></img> Borrar</a>
                                    {% else %}
                                        {% if mensaje in replicados %}
                            <a class="reptuit" href="{{ path('ptuit_borra_reptuit', { 'id': mensaje.id }) }}">
                                <img src="{{ asset('bundles/ptuit/imagenes/reptuit2.jpeg') }}"></img>Deshacer Reptuit</a>
                                        {% else %}
                            <a class="reptuit" href="{{ path('ptuit_replicar', { 'id': mensaje.id }) }}">
                                <img src="{{ asset('bundles/ptuit/imagenes/reptuit.jpeg') }}"></img> Reptuit</a>

                                        {% endif %}
                                    {% endif %}
                            <a class="responde" href="{{ path('ptuit_respuesta', { 'id': mensaje.id }) }}">
                                <img src="{{ asset('bundles/ptuit/imagenes/responder.jpeg') }}"></img> Responder</a>
                        </span>
                        <div class="flotarDer"> <a class="verMens" href="{{ path('ptuit_show', { 'id': mensaje.id }) }}">ver</a></div> 
                    </div>                        
                </div>

                <div class="clear"></div>
            </li>
    {% else %}
            <li><a href="#"><img class="avatar" src="{{ asset('bundles/ptuit/imagenes/ptuit.png') }}"  alt="avatar" /></a>
                Escribe tu Ptuit y se mostrara aqui, los tuyos y los de tus amigos.
            </li>
    {% endfor %}

        </ul>        
    </div>

