<h1>Mensaje</h1>

<table class="mensajeId">
    <tbody>        
        <tr>
            <th>Propietario:</th>                <td>@{{ entity.usuario.nick }}</td>        </tr>
        <tr>
            <th>Creado:</th>                <td>{{ entity.creado|date('Y-m-d H:i:s') }}</td>        </tr>
        <tr>
            <th>Modificado:</th>                <td>{{ entity.modificado|date('Y-m-d H:i:s') }}</td>        </tr>
        <tr>
            <th>Texto:</th>                <td>{{ entity.texto }}</td>        </tr>
        <tr>
            <th>Replicado:</th>                <td>{{ entity.replicadoPorUsuario |length}} veces replicado</td>        </tr>
        <tr>
            <th>Favorito:</th>                <td>a {{ entity.usuarioDeFavoritos |length}} usuarios le gustan</td>        </tr>
        <tr>
            <th>Tag:</th>                <td>{{ entity.tagid |length}} etiquetas</td></tr>
        <tr>
    {% if entity.padre %}        
                <th>Respuesta a:</th>   <td>@{{ entity.padre.usuario.nick  }}</td></tr>
        <th>Texto Mensaje:</th>                <td>{{ entity.padre.texto  }} </td></tr>
        {% endif %}
</tbody>
</table>


