{% extends 'PtuitBundle::plantilla.html.twig' %}
{% block alertas %}
        <div id="alert" >            
        {{form_errors(form.nick) }}
        {{form_errors(form.email) }}{{form_errors(form.password) }}           
        </div>
{% endblock %}

{% block barraNavegacion %}
<div class="Bnavegacion">
    <div class="l"><h1 style="color: #fefefe;padding-left: 1em">Registro</h1></div>
    <div class="r"></div>
   
</div>
{% endblock %}
{% block contenido %}


<form action="{{ path('registro') }}" method="post" {{ form_enctype(form) }}>
    
    <fieldset>
        <legend>Registro</legend>

    <span style="color: #CC0000">{{ form_errors(form.nick) }}</span>
    <p>
        {{ form_label(form.nick) }} 
        {{ form_widget(form.nick) }}*
    </p>    

    <span style="color: #CC0000">{{ form_errors(form.email) }}</span>
    <p>
        {{ form_label(form.email) }} 
        {{ form_widget(form.email) }}*
    </p>  

    
   
        <span style="color: #CC0000">{{ form_errors(form.password.first) }}</span>
        <p>
            {{ form_label(form.password.first, 'Contraseña') }}
            {{ form_widget(form.password.first) }}*
        </p>
    
    
        <span style="color: #CC0000">{{ form_errors(form.password.second) }}</span>
        <p>
            {{ form_label(form.password.second, 'Repetir contraseña') }}
            {{ form_widget(form.password.second) }}*
        </p>
    
    <span style="color: #CC0000">{{ form_errors(form) }}</span>
    <span style="color: #CC0000">{{ form_errors(form._token) }}</span>
    {{ form_widget(form._token) }}

    
    <span class="art-button-wrapper">
           <span class="art-button-l"> </span>
           <span class="art-button-r"> </span>
           <input type="submit" value="Regístrate" class="art-button"/>
           
    </span>
      
    <p><b>* Campos Requeridos</b></p>
    </fieldset>
</form>


<div class="usuario">
<p>¿Ya estás registrado? <a href="{{ path('login') }}">Haz login</a></p>
</div>

{% endblock %}




